
  
  
  /* styles.css */
  
  .QuestionDetails {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    position: relative; /* Ensure a stacking context for z-index to work */
    z-index: 1; /* Move the content above the waves */
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
    background: #fffef0;
    font-family: 'Calligraffitti', Courier, monospace;
    border-radius: 15px;
  }
  
  .QuestionDetails h2 {
    color: #333;
    text-align: center;
    font-size: 40px;
  }
  
  .QuestionDetails p {
    color: black;
    line-height: 1.6;
    height: auto;
    margin: 0 auto;
    font-size: 25px;
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Calligraffitti&family=Kdam+Thmor+Pro&family=Martel+Sans&family=Open+Sans:wght@300&family=Pirata+One&family=Poppins:wght@300&family=Roboto:wght@500&family=Ubuntu&display=swap');
  