.blog-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .blog-card:hover {
    transform: scale(1.05);
  }
  
  .blog-image-container {
    width: 70%;
  }
  
  .blog-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
  }
  
  .blog-description {
    padding: 16px;
    width: fit-content;
    box-sizing: border-box;
    background-color: #f8f8f8;
  }
  
  .blog-header {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  .blog-info {
    margin-top: 8px;
    color: #555;
  }
  