/* Countdown Styles */

  h1 {
    font-size: 36px;
    color: whitesmoke;
    margin-bottom: 20px;
  }
  
  .countdown-container {
    display: flex;
    justify-content: center;
    margin-top:40px;
    margin-bottom: 40px;
  }
  
  .countdown-item {
    margin: 0 10px;
  }
  
  .countdown-number {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .countdown-label {
    font-size: 16px;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 5px;
  }
  
  @media only screen and (max-width: 768px) {
    .countdown-number {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      background-color: #333;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    /* Add any additional responsive styling as needed */
  }
  