/*.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: whitesmoke;
}

.App-header {
  background-image: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  padding: 20px;
  color: #fff;
  font-size: 2rem;
}

.Island-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Ship {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: auto;
  z-index: 1;
}

.Island {
  position: relative;
  margin: 10px;
  background-color: #f0e68c;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #888;
  cursor: pointer;
  width: 30%;
  box-sizing: border-box;
  overflow: hidden; 
}

.Island:hover {
  transform: scale(1.05);
}

.Island img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.Lock-button-container {
  position: relative;
}

.Lock-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Lock-button.unlocked {
  background-color: #1a861a;
}

.Island-message {
  text-align: left;
  margin-top: 10px;
  color: #3020e2;
  font-weight: bold;
}

.Island-heading {
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color:black;
}

.Answer-container {
  margin-top: 10px;
}

input {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  
}

p {
  height: 20px;
  margin-top: 10px;
}

button {
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
}

button:hover {
  background-color: #228b22;
}*/

svg{
  position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
}


.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  /* background-color: whitesmoke; */
  overflow-y: visible;
  color: black;
}

.App-header {
  background-image: url(https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  padding: 20px;
  color: #fff;
  font-size: 2rem;
}

.Island-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Ship {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: auto;
  z-index: 1;
}

.Island {
  position: relative;
  margin: 10px;
  background-color: #f0e68c;
  padding: 10px;
  padding-bottom:30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #888;
  cursor: pointer;
  width: 30%;
  box-sizing: border-box;
  overflow: hidden; 
}

.Island:hover {
  transform: scale(1.05);
}

.Island img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.Lock-button-container {
  position: relative;
}

.Lock-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Lock-button.unlocked {
  background-color: #1a861a;
}

.Island-message {
  text-align: left;
  margin-top: 10px;
  color: #3020e2;
  font-weight: bold;
}

.Island-heading {
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color:black;
}

.Answer-container {
  margin-top: 10px;
}

input {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  /* Remove the fixed width property */
}

p {
  height: 20px;
  margin-top: 10px;
}

button {
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 5px;
  /* Remove the fixed width property */
  cursor: pointer;
}

button:hover {
  background-color: #228b22;
}