
.header {
    background-image: url('ships.webp'); /* Specify the path to your background image */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    color: #fff; /* Set the text color to white or any color that suits your design */
    text-align: center;
    padding: 20px;
  }
  
  
  .content {
    font-size: clamp(3rem,5vw,5rem);
    text-transform: capitalize;
    /* color: #fff3b0; */
    animation: moveInLeft 1.5s ease-in;
    /* font-family: 'GOT'; */
    font-stretch: expanded;
    letter-spacing: 10px;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
    font-size: 105px;
    padding: 1px;
    /* text-shadow: 1px 2px 5px bisque; */
    max-width: 800px; /* Adjust the max-width to control the width of the content */
    margin: 0 auto;
    white-space: normal;
  }

  @media (max-width: 768px) {
    .content {
        font-size: 10vw;
    }
      
}
  