/* Navbar.css */


.navbar {
  background-color: #015871;
  padding: 10px 20px;
  font-family: 'Poppins', Courier, monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items on smaller screens */
}

.navbarNav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
}


.navLink {
  text-decoration: none;
  color: #ecf5eb;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #646161;
}

@media only screen and (max-width: 768px) {
  .container img{
    width: 35px;
  }
  .container{
    justify-content:center;
  }
  /* Add any additional responsive styling as needed */
}