
.about1 {
    max-width: 800px;
    margin-bottom: 200px;
    padding: 20px;
  }

  .abcontent{
    font-size: clamp(3rem,5vw,5rem);
    text-transform: capitalize;
    color: #ecf5eb;
    animation: moveInLeft 1.5s ease-in;
    font-stretch: expanded;
    letter-spacing: 10px;
    margin-top: 0;
    font-weight: bold;
    font-size: 80px;
    padding: 1px;
    /* text-shadow: 1px 2px 5px bisque; */
    max-width: 800px; /* Adjust the max-width to control the width of the content */
  }

