@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Calligraffitti&family=Kdam+Thmor+Pro&family=Martel+Sans&family=Open+Sans:wght@300&family=Pirata+One&family=Poppins:wght@300&family=Roboto:wght@500&family=Ubuntu&display=swap');

html{
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Poppins', Courier, monospace;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: black;
  background: #82c9e4;
}

.app-container {
  /*background-color: #2c3e50;*/
}

.login-container {
  text-align: center;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  background-color: #5996c4;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
  /* text-shadow: 2px 2px 4px rgba(52, 152, 219, 0.6); */
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
}

p {
  color: black;
  font-size: 20px;
}

input {
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px;
}

button {
  background-color: #2ecc71;
  color: #fff;
  padding : 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin:0 10px;
}

button:hover {
  background-color: #27ae60;
}

@media screen and (max-width: 1200px) {
  .login-container {
    padding: 30px;
  }
}

@media screen and (max-width: 992px) {
  .login-container {
    padding: 20px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .login-container {
    padding: 15px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  input,
  button {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .login-container{
    width: auto;
  }
  html{
    overflow-x: hidden;
    box-sizing: border-box;
  }
  button{
    margin:10px 0px;
  }
  /* Add any additional responsive styling as needed */
}